.body {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-amount {
  display: inline-block;
  width: 120px;
  height: 120px;
  -webkit-appearance: none;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 34, 118);
  font-size: 45px;
  text-align: center;
  caret-color: transparent;
  margin: 20px 0px 0px 45px;
  transition: box-shadow 0.08s 0.08s;
  border: 1px solid rgb(0, 34, 118);
}

.input-error-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

.input-error-shadow {
  box-shadow: 0 0 0.5em red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.input-currency {
  display: inline-block;
  color: rgb(0, 34, 118);
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  text-align: center;
  margin: 20px 0px 0px 10px;
}

.priceButton {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 16px 76px;
  text-decoration: none;
  margin: 10px;
}
.priceButton:hover {
  background-color: black;
  border-radius: 7px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 16px 76px;
  text-decoration: none;
  margin: 10px;
}

.priceButton:active {
  position: relative;
  top: 1px;
}

.price-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

.button-global {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 12px 60px;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.5px;
}
.button-global:hover {
  background-color: black;
  border-radius: 7px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 12px 60px;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.5px;
}

.button-global:active {
  position: relative;
  top: 1px;
}

.validate-button {
  border: 1px solid rgb(0, 34, 118);
  color: rgb(0, 34, 118);
  font-weight: 700;
  letter-spacing: 0.8px;
  transition: background-color 0.12s 0.12s, border-color 0.12s 0.12s,
    color 0.12s 0.12s;
}

.validate-button:hover {
  background-color: rgb(0, 34, 118);
  border: 1px solid rgb(0, 34, 118);
  font-weight: 700;
  letter-spacing: 0.8px;
}

.button-choice {
  height: fit-content;
  width: fit-content;
  padding: 25px 80px;
  display: inline-block;
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid rgba(96, 96, 96, 0.742);
  cursor: pointer;
  color: rgba(96, 96, 96, 0.742);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  margin: 10px;
  letter-spacing: 0.5px;
  transition: color 0.12s 0.12s, border-color 0.12s 0.12s;
}

.button-choice:hover {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid #cc282c;
  color: #cc282c;
  padding: 25px 80px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.result-text {
  color: rgb(0, 34, 118);
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  margin: 30px auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.image {
  margin-top: 20px;
  width: 150px;
  align-self: center;
}
